

{{!-- Charles login.handblebar --}}


<section class='vh-100 gradient-custom'>
  <div class='container py-5 h-100'>
    <div class='row d-flex justify-content-center align-items-center h-100'>
      <div class='col-12 col-md-8 col-lg-6 col-xl-5'>
        <div class='card bg-dark orangeTxt' style='border-radius: 1rem'>
          <div class='card-body p-5 text-center'>
            <i class='fab fa-spotify orangeTxt'> D o t i f y</i>
            <div class='mb-md-5 mt-md-4 pb-5'>
              <h2 class='fw-bold mb-2 text-uppercase'>Login</h2>
              <p class='orangeTxt mb-5'>
                Please enter your login and password!
              </p>
              {{!-- EMAIL --}}
              <div class='form-outline loginbbl mb-4'>
                <input
                  type='email'
                  id='typeEmailX-login'{{!-- query selectory for login.js --}}
                  class='form-control'
                  value="dino@gmail.com"
                />
                <label class='form-label' for='typeEmailX-login'>Email</label>
              </div>
              {{!-- PASSWORD --}}
              <div class='form-outline loginbbl mb-4'>
                <input
                  type='password'
                  id='typePasswordX-login' {{!-- query selectory for login.js --}}
                  class='form-control'
                  value="000"
                />
                <label class='formLabel' for='typePasswordX-login'>Password</label>
              </div>

              <button class=' loginbtn login-form' type='submit'>
                Login
              </button>

              <div class='d-flex justify-content-center text-center mt-4 pt-1'>
                <a href='#!' class='orangeTxt'><i
                    class='fab fa-facebook-f fa-lg'
                  ></i></a>
                <a href='#!' class='orangeTxt'><i
                    class='fab fa-twitter fa-lg mx-4 px-2'
                  ></i></a>
                <a href='#!' class='orangeTxt'><i
                    class='fab fa-google fa-lg'
                  ></i></a>
              </div>
            </div>

            <div>
              <p class='mb-0'>
                Don't have an account?
                <a href='#!' class='loginBtn'>Sign Up</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End your project here-->