body {
    background-color: black;
    font-family: 'Anton', sans-serif;
}


h1 {
    color: #FF9000;
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.h1Title {
  padding-top: 9px;
  padding-right: 75px;

}

.logo {
    padding-top: 5px;
    
}

.question-1 {
    display: flex;
    position: absolute;
    margin: 0 auto;
    left: 15%;
    text-align: center;
    align-items: top;
    justify-content: center;
    background-color: black;
    border-color: #FF9000;
    color: #FF9000;
    width: 400px;
    height: 100px;
    border: solid 5px;
    font-size: 25px;
}

.question-2 {
    display: flex;
    position: absolute;
    margin: 0 auto;
    left: 38%;
    text-align: center;
    align-items: top;
    justify-content: center;
    background-color: black;
    border-color: #FF9000;
    color: #FF9000;
    width: 400px;
    height: 100px;
    border: solid 5px;
    font-size: 25px;
}

.question-3 {
    display: flex;
    position: absolute;
    margin: 0 auto;
    left: 61%;
    text-align: center;
    align-items: top;
    justify-content: center;
    background-color: black;
    border-color: #FF9000;
    color: #FF9000;
    width: 400px;
    height: 100px;
    border: solid 5px;
    font-size: 25px;
}