body {
    background-color: black;
    font-family: 'Anton', sans-serif;
}


h1 {
    color: #FF9000;
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.h1Title {
  padding-top: 9px;
  

}

.logo {
    padding-top: 5px;
    
}

.song {
    display: flex;
    margin: 10;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-color: #FF9000;
    color: #FF9000;
    width: 100%;
    height: 100px;
    border: solid 5px;
    font-size: 50px;
}

.song-gen {
    display: flex;
    margin: 10;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-color: #FF9000;
    color: #FF9000;
    width: 100%;
    height: 300px;
    border: solid 5px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }