body {
    background-color: black;
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-size: 25px;
}


h1 {
    color: #FF9000;
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.orangeTxt {
    color: #FF9000;
}

.title {
    padding-top: 9px;
    padding-right: 75px;
    letter-spacing: .075rem;


}

.login {
    margin-left: 75%;
    justify-content: flex-end;
}

.loginbbl {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #FF9000;
    background-color: black;
    background-clip: padding-box;
    border: 2px solid #FF9000;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: all .2s linear;
}

.formlabel:focus {
    transform: translateY(-2rem) translateY(.2rem) scale(2)
}

.loginBtn {
    color: black;

    border-radius: .95rem;
    display: inline-block;
    transition: all 0.4s ease-in-out;
    background-size: 152% 100%;
    background: #FF9000;
    border: 2px solid #FF9000;
    width: 115px;
    justify-content: space-around;
}

.submit-choices {
    color: black;
    margin-top: 20px;
    border-radius: .95rem;
    display: inline-block;
    transition: all 0.4s ease-in-out;
    background-size: 152% 100%;
    background: #FF9000;
    border: 2px solid #FF9000;
    width: 115px;
    justify-content: space-around;
}

button {
    padding: 5px 4px;
    font-family: 'Anton', sans-serif;
}

.loginBtn:hover {
    background: black;
    border-color: #FF9000;
    color: #FF9000;
}

.logo {
    padding-top: 5px;

}

.question-conatainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.question {
    display: flex;
    margin: 10;
    margin-bottom: 5;
    align-items: center;
    justify-content: center;
    background-color: #FF9000;
    text-transform: uppercase;
    letter-spacing: .075rem;
    color: black;
    width: 600px;
    height: 100px;
    border-top-left-radius: .45rem;
    border-top-right-radius: .45rem;
    font-size: 35px;
}

  /* Radio Button Stuff */

  .choices {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    background-color: #FF9000;
    border-bottom-right-radius: .95rem;
    border-bottom-left-radius: .95rem;
    color: #000000;
    list-style: none;
    width: 600px;

}

  .choices input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
  .choices label {
    display: inline-block;
    background-color: #000000;
    color: #FF9000;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid rgb(0, 0, 0);
    border-bottom-left-radius: .95rem;
    width: 550px;
  }
  .choices label:hover {
    background-color: #FF9000;
    color: #000000;
    border-right: none;
  }
  .choices input[type="radio"]:focus + label {
    border: 2px solid rgb(0, 0, 0);
  }
  .choices input[type="radio"]:checked + label {
    background-color: #FF9000;
    color: #000000;
    border-color: rgb(0, 0, 0);
    border-right: none;
  }

  /* Radio Button Stuff */