.gradient-custom {
    /* fallback for old browsers */
    background: #f47c04;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(255, 136, 0), rgb(255, 183, 0));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(255, 136, 0), rgba(255, 183, 0))
    }